@page
@model stockmanagementsystem.Pages.suppliers_infoModel
@{
    ViewData["Title"] = "Suppliers Info";
}

<!-- Body Wrap - Start -->
<div class="page-wrapper">

    <!-- Site Header - Start
    ================================================== -->
    <header class="site-header">
        <div class="site-logo">
            <a class="site-link" href="/index">
                <img src="assets/images/logo/site_logo.svg" alt="Stock Management System">
            </a>
        </div>
        <ul class="header-action-btns unordered-list-end">
            <li>
                <div class="dropdown">
                    <button class="btn-notification" type="button" id="dropdownNotification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bell"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownNotification">
                        <a class="dropdown-item" href="/notifications">Notification</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <button class="btn-admin dropdown-toggle" type="button" id="dropdownAdmin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="admin-avatar">
                            <img src="assets/images/admin/MTS.png" alt="Admin Avatar">
                        </span>
                        <span class="admin-name">MTS</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownAdmin">
                        <a class="dropdown-item" href="/index">Log Out</a>

                    </div>
                </div>
            </li>
        </ul>
    </header>
    <!-- Site Header - End
    ================================================== -->
    <!-- Main Body - Start
    ================================================== -->
    <main class="page-content">

        <!-- Dashboard Frame Section - Start
        ================================================== -->
        <section class="dashboard-frame">
            <div class="dashboard-sidebar">
                <ul class="dashboard-menu-list unordered-list-block">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/add-item">Add Item</a></li>
                    <li><a href="/stock-in?ProductName=null">Stock In-Out</a></li>
                    <li><a href="/stock-available?ProductName=null">Available Stock</a></li>
                    <li class="active"><a href="/suppliers-info?Category=null">Suppliers</a></li>
                    <li><a href="/settings">Settings</a></li>
                </ul>
            </div>
            <div class="dashboard-body">
                <div class="stock-table-area">
                    <form method="get">
                        <div class="form-group suppliers-search">
                            <input type="search" class="form-control" placeholder="Search by category" name="category" value="@Model.category">
                            <button type="submit" class="suppliers-search-btn">
                                <i class="far fa-search"></i>
                            </button>
                        </div>
                        </form>
                    <ul class="form-inline unordered-list">
                        <li>
                               
                        </li>
                    </ul>
                     @if (Model.errorMessage.Length <= 0)
                    {
                        <div class="stock-table">
                            <ul class="unordered-list teble-row">
                                <li>
                                    <div class="info-text-wrap bg-white">
                                        <span class="info-text">
                                            <strong>Suppliers ID</strong>
                                        </span>

                                        <span class="info-text">
                                            <strong>Suppliers Name</strong>
                                        </span>
                                        <span class="info-text">
                                            <strong>Phone Number</strong>
                                        </span>
                                        <span class="info-text">
                                            <strong>Address</strong>
                                        </span>
                                        <span class="info-text">
                                            <strong>Category</strong>
                                        </span>
                                    </div>
                                </li>
                                <li><!-- Empty --></li>
                            </ul>
                            @foreach (var item in Model.listsuppliers)
                            {
                                <ul class="unordered-list teble-row">
                                    <li>
                                        <div class="info-text-wrap">

                                            <span class="info-text">
                                                <strong class="d-lg-none">Suppliers Id</strong>
                                                <small>@item.suppliersid</small>
                                            </span>

                                            <span class="info-text">
                                                <strong class="d-lg-none">Suppliers Name</strong>
                                                <small>@item.suppliersname</small>

                                            </span>

                                            <span class="info-text">
                                                <strong class="d-lg-none">Phone Number</strong>
                                                <small>@item.phone</small>
                                            </span>

                                            <span class="info-text">
                                                <strong class="d-lg-none">Suppliers address</strong>
                                                <small>@item.address</small>
                                            </span>

                                            <span class="info-text">
                                                <strong class="d-lg-none">Category</strong>
                                                <small>@item.category</small>
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <ul class="btns-group unordered-list">
                                            <li><a class="btn btn-primary" href="/editsuppliers?SuppliersId=@item.suppliersid">Edit</a></li>
                                            <li><a class="btn btn-primary" href="/Insertsuppliers?SuppliersId=@item.suppliersid">Insert</a></li>

                                        </ul>
                                    </li>

                                </ul>
                            }
                        </div>
                    }
                </div>
            </div>
        </section>
        <!-- Dashboard Frame Section - End
        ================================================== -->

    </main>
    <!-- Main Body - End
    ================================================== -->

</div>
<!-- Body Wrap - End -->
<!-- Fraimwork - Jquery Include -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/bootstrap-dropdown-ml-hack.js"></script>

<!-- animation - jquery include -->
<script src="assets/js/wow.min.js"></script>

<!-- Carousel - Jquery Include -->
<script src="assets/js/slick.min.js"></script>

<!-- Chart - Jquery Include -->
<script src="assets/js/chart.js"></script>

<!-- Custom - Jquery Include -->
<script src="assets/js/main.js"></script>